@import "tailwindcss";

@theme {

  /* color Part  */
  --color-primaryClr: #5E3BEE; 
  --color-banner: #F9F9FC; 
  /* color Part end */

  /* font part  */
   --font-pop: "Poppins", sans-serif;
  /* font part end */
}